/*Стили таблици поиска пользователей*/

table {
    border-collapse: collapse;
}

td, th {
    border: solid 1px black;
    padding: 3px;
    font-weight: normal;
    text-align: center;
}

td.top, th.top {
    background: #eee;
    font-weight: bold;
}